
.reg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
  background-color: #f2ebe2;
  padding: 20px;
  box-sizing: border-box;
}


.reg-card {
  background-color: #614051;
  width: 100%;
  max-width: 900px;
  max-height: 700px;
  padding: 30px 40px;
  border-radius: 16px;
  box-shadow: var(--shadow);
  box-sizing: border-box;
}

.reg-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: left;
}

.input-group label {
  font-family: var(--heading);
  font-size: 1rem;
  color: var(--text-h);
}

.input-group input {
  font-family: var(--sans);
  font-size: 0.8rem;
  padding: 12px;
  border: 0.5px solid var(--border);
  border-radius: 6px;
  background-color: #ffffff;
  outline: none;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.input-group input:focus {
  border-color: #618A7f;
  box-shadow: 0 0 0 3px rgba(97, 138, 127, 0.2);
}


.reg-submit-btn {
  font-family: var(--heading);
  font-size: 1.2rem;
  font-weight: 500;
  background-color: #08060d;
  color: #ffffff;
  border: none;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
  margin-top: 10px;
}

.reg-submit-btn:hover {
  background-color: #1f1d24;
}

.reg-submit-btn:active {
  transform: scale(0.98);
}

.reg-switch-text {
  font-size: 0.95rem;
  color: var(--text);
  margin: 0;
}


.reg-switch-text a {
  color: #618A7f;
  font-weight: 600;
  text-decoration: none;
}

.reg-switch-text a:hover {
  text-decoration: underline;
}